@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: rgb(38 38 38);
}

h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

table {
  text-align: left;
  border: 1px solid #06b6d4;
  width: 100%;
}

table thead {
  background-color: #06b6d4;
  color: white;
}

table thead th {
  padding: 0.5rem 1rem;
}

table tbody td {
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.card {
  background: white;
  padding: 1rem;
  border: 1px solid #0284c7;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  margin-bottom: 1rem;
}

.danger-text {
  color: #e11d48;
}